# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
/dist

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/

# Logs
*.log

# Misc
*.swp
*.swo

# Auth/session
.wwebjs_auth/

# Coverage
coverage/

# Others
*.local
*.cache
